/**
* @name Ruikasa-ism
* @author Nyria#3863 (Edits by @hopeful_bagels)
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://hopeful-bagels.github.io/-WIP-Ruikasa/main.css");

:root {
  /* --- User variables --- */

  --background-image: url('https://i.imgur.com/43lZuJw.jpg');

  /* Jumping GIF */
  --jumping-gif: url("https://i.imgur.com/H9drc10.png");

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: #bb88ed;

/* Border-radius for the whole theme */
--border-radius: 25px;
}

.theme-dark {
  /* Text */
  --text-normal: #ffffff;
  --header-primary: #DDC4F6;
  --interactive-normal: #ffc940;
  --channels-default: #D4B5F4;

  --text-muted: #FFE59F;
  --interactive-muted: #9D84B6;

  --header-secondary: #E5D2F8;
  --interactive-hover: #FFE59F;
  --interactive-active: #FFF6DF;

  /* Background color */
  --background-primary: #382847a4;
  --background-secondary: #825fa5;
  --background-secondary-alt: #382847;
  --background-tertiary: #bb88ed;
  --background-floating: #251b2f;
  --background-accent: #68AFB3;
  --channeltextarea-background: var(--background-secondary);
  --modal-background: var(--background-primary);
  --background-modifier-hover: #E5D2F888;
  --background-modifier-active: #5DC7CD68;
  --background-modifier-selected: #251a30bb;
  --toast-background: #ff0000 !important;
  --toast-header: #ff0000 !important;
  --toast-contents: #ff0000 !important;
  --toast-border: #ff0000 !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorBrand-3cPPsm {
  color: #ff0101;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #ff0000 !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #2bff00;
  border-color: #3cff00;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.theme-light {
  /* Text */
  --text-normal: #5d4476;
  --header-primary: #382847;
  --interactive-normal: #5d4476;
  --channels-default: #5d4476;

  --text-muted: #9683A9;
  --interactive-muted: #bba2d3;

  --header-secondary: #5d4476;
  --interactive-hover: #DFA400;
  --interactive-active: #BF8C00;

  /* Background color */
  --background-primary: #FFF6DF88;
  --background-secondary: #FFDD80;
  --background-secondary-alt: #CCA6F2;
  --background-tertiary: #FFCC40;
  --background-floating: #FFEEBF;
  --background-accent: #BB88ED;
  --channeltextarea-background: var(--background-secondary);
  --background-modifier-hover: rgba(117, 85, 148, 0.082);
  --background-modifier-active: rgba(117, 86, 149, 0.122);
  --background-modifier-selected: rgba(47, 34, 59, 0.11);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #2bff00 !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

:root .bg__12180,
:root .app_de4237::before,
:root .app_b1f720::before,
:root .app_b1f720::after,
:root .app_de4237::after,
:root .bg__12180::after,
:root .bg__12180::before,
:root .layers__1c917::after,
:root .layers__1c917::before {
  background: url(none) !important;
}
:root .bg__12180 {
  background: var(--background-image) center/cover no-repeat !important;
  filter: blur(1.5px);
} 
